.titulo {
    padding: 20px;
}

.link {
    text-decoration: none;
}

.btn {
    margin: 30px auto;
    display: block;
    background-color: black;
    color: red;
}

.btn:hover {
    background-color: white;
    color: black;
}

.card {
    padding-top: 56%;
}