* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    background: rgb(11,0,126);
    background: linear-gradient(90deg, rgba(11,0,126,1) 2%, rgba(19,124,123,1) 76%);
}
