.box {
    font-family: 'Helvetica';
    color: white;
}

.profile {
    margin: 100px 0;
    margin-bottom: 17px;
    width: 300px;
}

.list {
    margin: 20px;
    display: flex;
}

.listIcons {
    display: flex;
}

.icons {
    margin: 0 10px;
    width: 50px;
}

.icons1 {
    width: 75px;
}

.text {
    padding: 10px;
    margin: 30px;
    margin-top: 50px;
}

.ul1 {
    margin: 0 40px;
}

.ul2 {
    margin: 0 40px;
}

.title {
    margin-top: 55px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-family: 'Helvetica';
    color: white;
}
